.header {
    height: 100vh; /* Use 100% of the viewport height */
    margin: 20px auto; /* Center the header horizontally */
    background: url('/header_img.png') no-repeat;
    background-size: cover; /* Cover the entire header with the background image */
    position: relative;
}